<!DOCTYPE html>
<html>
  <head>
    <title>Nails Delivery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= render 'shared/navbar' %>

  <main class="<%= content_for?(:whole_page) ? '': 'space' %>">
    <%= yield %>
    <%= yield :whole_page %>
  </main>
  </body>
</html>
